@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <TopBar />
    <div class="h-100 d-flex">
        <SideBar />
        <div class="content">
            <main class="container py-4">
                @Body
            </main>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
