@inherits LayoutComponentBase

<div class="d-flex flex-column h-100 flex-grow-0 flex-shrink-0" style="max-height: 100%">
    <div class="h-100">
        <TopBar />
    </div>
    <div class="d-flex h-100 w-100 flex-grow-0 flex-shrink-0">
        <SideBar />
        <div class="d-flex h-100 w-100 overflow-y-auto">
            <main class="container py-4">
                @Body
            </main>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
