<div class="h-100 bg-light" style="width: 280px">

    <ul class="navbar-nav me-auto">
        <li class="nav-item list-group-item list-group-item-action">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item list-group-item list-group-item-action">
            <NavLink class="nav-link" href="/ring-map" Match="NavLinkMatch.Prefix">Ring Locator</NavLink>
        </li>
        <li class="nav-item list-group-item list-group-item-action">
            <NavLink class="nav-link" href="/catalog" Match="NavLinkMatch.Prefix">Catalog</NavLink>
        </li>
        <li class="nav-item list-group-item list-group-item-action">
            <NavLink class="nav-link" href="/production" Match="NavLinkMatch.Prefix">Production</NavLink>
        </li>
    </ul>

</div>

@code {

}
